[Unit]
Description=Display
After=network.target

[Service]
type=simple
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/python3 -m whatcalendar
WorkingDirectory=/home/YOUR_USER/whatcalendar/

[Install]
WantedBy=multi-user.target
